/* extra small device */
@media (max-width: 575px) {
  #headerSticky {
    box-shadow: 0 0 6px 0 #00000024;
  }
  .school-content {
    flex-direction: column;
}
.bakash {
  width: 100%;
  margin: 0 auto;
}
.bekashpap img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: table;
}
.bekashpay {
  padding: 0;
  text-align: center;
}
  .topInfo ul li {
    padding: 0 8px;
    font-size: 9px;
  }
  .socialIcon {
    display: none !important;
  }
  #topHeader {
    padding: 4px 0;
  }
  #logoPart{
    display: none;
  }
  .deskMenu{
    display: none;
  }
  .mobilMenu {
    display: block;
    background: #F8F8F8 0% 0% no-repeat padding-box;
    z-index: 99;
  }
  .mobilMenuCollapse{
    height: 800px;
  }
  .mobilToggle {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
  }
  #mobilbar-sticky-wrapper {
    display: block;
  }
  .logoMobil img {
    margin-top: -6px;
  }

  /* .logoMobil img {
    width: 234px;
    height: 19px;
  } */
  .bg2 {
    position: fixed !important;
    width: 100% !important;
    z-index: 9999 !important;
    top: 0px !important;
  }
  .mobilNavbar li {
    background-color: #fffefd;
    margin-bottom: 3px;
    padding: 0 30px;
  }
  .navContact h4{
    font-size: 18px;
    color: #FF4F01;
    margin-bottom: 6px;
    font-weight: bold;
}
.navContact span {
    font-size: 12px;
    color: #00346B;
    margin-bottom: 5px;
    margin-right: 14px;
    margin-left: 8px;
}
.navContact ul li {
    display: inline-block;
    color: #00346B;
    margin-right: 8px;
}
.navContact {
    display: block;
    margin-top: 59px;
    text-align: center;
    margin-left: 1px;
}
.navContact ul li i{
  color: #00346B;
}
.navContact ul{
  padding-left: 0;
  margin-top: 10px;
}
.mobilNavbar .nav-link{
  color: #000 !important;
  font-weight: 700;
  font-size: 14px;
}
.mobilNavbar .dropdown-item{
  color: #00346B !important;
  font-size: 14px;
}
.nav-item i {
	float: right;
	color: #000;
}
.mobilNavbar .show i{
  transform: rotate(180deg);
  transition: all linear .3s;
}
.dropdown-menu {
	background-color: #fff;
	border: none;
}
/* .dropdown {
  position: relative;
}
.dropdown::before {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  background-color: #FFF;
  top: 8px;
  right: 13px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  transform: rotate(138deg);
} */


  .socialIconTop {
    margin-top: 13px !important;
  }
  .schoolLogo img {
    width: 130px;
  }
  .schoolLogo img {
    width: 151px;
    padding-left: 32px;
  }
  .mujibBar img{
    display: none;
  }
  .navbar-toggler {
    position: relative;
    top: -54px;
    left: 279px;
  }
  #banner {
    margin-top: 0px;
  }
  .admission {
    padding: 5px;
    width: 34%;
  }
  .bannerText h3 {
    font-size: 20px;
  }
  .bannerText h5 {
    font-size: 9px;
    margin-bottom: 13px;
  }
  .bannerText {
    position: absolute;
    padding: 21px 0 0 42px;
    top: 51px;
  }
  .mobilNavbar {
    box-shadow: 0 0 4px 0 #ddd;
    width: 309px;
    margin: auto;
  }
  .admission p {
    font-size: 9px;
  }
  .banner-slide img {
    height: 190px;
  }
  .bannerText a {
    font-size: 10px;
    padding: 5px 10px;

  }
  .caption {
    width: 51%;
    margin-top: 8px;
    padding: 12px 0;
  }
  .caption h6 {
    font-size: 14px;
  }

  
  #latestNews {
    margin-top: 0;
  }
  .latestNews {
    width: 28%;
  }
  .scrollNews {
    float: left;
    width: 68%;
  }
  .latestNews p {
    font-size: 11px;
  }
  .site header,
  .tm-header-block,
  .site-header,
  .site-header-main {
    height: 64px;
  }
  .gbName h5 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
  }
  .gbImage {
    width: 100%;
  }
  .gbName {
    text-align: center;
    width: 100%;
    margin: 5px 0;
  }
  .gbName p{
    font-size: 24px;
    margin: 0;
  }
  .gbIText {
    width: 100%;
    padding: 10px;
  }
  .gbspeecs p {
    font-size: 16px !important;
    line-height: 25px;
    margin: 0 0;
    text-align: justify;
  }
  .gbMain {
    height: 100%;
    overflow: hidden;
  }
  .gbspeecs {
    margin-bottom: 15px;
  }
.bekashpay p {
    font-size: 20px;
    margin-top: 15px;
}
.bekashpay img {
    margin-bottom: 7px;
    width: 90%;
}
.bekashpay {
    margin: 0 0 15px 0;
    padding: 0;
}
.bekashpay a {
    font-size: 14px;
}
.portal img {
    margin-bottom: 18px !important;
}
.bekashpay h4 {
    font-size: 14px;
    margin-bottom: 7px;
    margin-top: 6px;
}
  .knowHeader h3 {
    margin-bottom: 23px;
    font-size: 18px;
  }
  .knowIcon {
    width: 65px;
    height: 65px;
  }
  .knowIteam {
    padding: 10px 50px;
    margin-bottom: 15px;
  }
  .knowIcon img {
    width: 45px;
    height: 62px;
  }
  .knowIteam h3 {
    font-size: 16px;
    margin-top: 0px;
  }
  .knowIteam h4 {
    font-size: 16px;
    margin-top: -5px;
    margin-bottom: 0px;
  }
  .branchhead h3 {
    margin-bottom: 30px;
    font-size: 18px;
  }
  .newsEvent li a {
    padding: 5px 8px !important;
  }
  .noticeIteam ul{
    padding-left: 0;
  }
  .videoText {
    padding-left: 4px;
}
  .eventRightImage {
    display: none;
  }
  .eventRightText {
    display: none;
  }
  .noticeIteam {
    margin-right: 0px;
    margin-top: 15px;
  }
  .videoGallaryImage img {
    width: 100%;
    height: 100%;
  }
  .videoText h3 {
    margin-top: 15px;
  }
  .videoText h2 {
    font-size: 22px;
  }
  .apps-download {
    padding: 0 0 0px 15px;
  }
  .apps-download h3 {
    padding-top: 12px;
    font-size: 19px;
  }
  .apps-mobil img {
    margin-left: 0;
    width: 100%;
  }
  .ourScool {
    padding: 24px 0px 0px 17px;
    height: 126px;
  }
  .schoolIcon img {
    width: 22px;
  }

  /*================Footer ===================*/
  .upfooter ul{
    padding-left: 0;
  }
  .footerContact ul{
    padding-left: 0;
  }
  .upfooter ul li img {
    width: 15px;
    height: 13px;
  }
  .upfooter ul li span {
    font-weight: 500;
    font-size: 9px;
  }
  .upfooter ul li {
    margin-right: 6px !important;
  }
  .footer-logo {
    display: none;
  }
  .facebook h4 {
    display: none;
  }
  .facebook {
    display: none;
  }
  .m-footer {
    display: none;
  }
  .footerContact h3 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 22px;
  }
  .footerContact ul li {
    display: inline-block;
  }
  .footerContact ul li {
    display: inline-block;
    margin-right: 14px;
    color: #fff;
    font-size: 15px;
  }
  .footerContact {
    display: inline;
    padding: 0px;
  }
  .upfooter {
    margin-bottom: -20px;
    border-bottom: 1px solid transparent;
    margin-top: 30px;
  }
  .copyright p {
    font-size: 14px;
  }
  .pageName {
    margin-top: 52px;
  }
  .pageName h3 {
    font-size: 16px;
  }

/*===========principle message=============*/
#pageName {
	margin-top: 0px;
}
.pageMenu {
	display: none;
}
.principleDetails img {
	width: 100%;
	height: 100%;
}
.principleDetails p {
	font-size: 14px;
	text-align: justify;
}
.principleDetails h6 {
	font-size: 22px;
}
.principleDetails h5 {
	font-size: 18px;
}
.principleDetails h4 {
	font-size: 18px;
	font-family: sl;
}
/*===========History==========*/
.historyInf h3 {
	font-size: 15px;
}
.historyInf {
	margin-top: -60px;
}
.historyInf p {
	font-size: 13px;
}
.historyInfImage::before {
	display: none;
}
#infrastructure {
	padding: 0px 0px;
}
/*============infatacture=========*/
.InfrastructureDetail h3 {
	font-size: 14px;
	margin-top: 4px;
}
.InfrastructureDetail p {
	margin-top: -7px;
}
/* ======newsEvent========= */
.eventNewsDetail {
	bottom: -100px;
}
/* ========mission Vission =========== */
.missionVissionTop h3 {
	font-size: 14px;
	margin-top: 0px;
}
.missionVissionTop p {
	font-size: 12px;
	margin-top: -8px;
}
.missionVissionPart {
	position: relative;
	width: 46%;
	margin: 10px 5px;
}
.MissionName {
	line-height: 205px;
}
.minnsionVissionDetails p {
	font-size: 13px;
  margin: 10px 0;
  padding: 0 8px;
	text-align: justify;
}
}
/* small device */
@media (min-width: 576px) and (max-width: 767px) {
}

/* medium device */
@media (min-width: 768px) and (max-width: 991px) {
}

/* medium device */
@media (min-width: 992px) and (max-width: 1366px) {
}
/* medium device */
@media (min-width: 1367px) and (max-width: 1800px) {
}
